[2021-08-27 17:02] fenos opened #1 "Joining forces with twirp-ts"
Hello, nice to meet you!
I'm the author of [twirp-ts](https://github.com/hopin-team/twirp-ts)

I'm glad to see other server implementations in Typescript for twirp!

However, I was wondering what's the reason that pushed you to create a new twirp implementation over contributing to `twirp-ts` ?

We are using twirp-ts heavily internally and I'm willing to improve it as much as necessary, maybe we c

[2021-08-28 20:09] tatethurston commented on #1
Hello!

I actually started this project awhile back, before `twirp-ts` was available. When I have some time I'll play around with `twirp-ts`.

Thus far, I've focused on the following for TwirpScript:

- Lean on Google's protobuf library as much as possible
- Generate idiomatic JS interfaces (eg none of the Java idioms that Google's JS implementation presents like  `$fieldList` for array types).
-

[2021-09-02 08:20] fenos commented on #1
Hello @tatethurston sorry for the late reply!

I see! that make sense,

twirp-ts is based off ts-proto or the awesome @protobuf-ts for message code generation not really compatible with the standard google's JS implementation.

In regards of the browser compatibility I'm looking for a clean way to implement that, your approach might be very beneficial to the library

This is something that I'll ad

[2021-09-02 08:20] #1 closed

[2021-11-16 10:32] 4nte opened #7 "Twirpscript fails with `Error: EAGAIN`"
When running twirpscript this error occurs randomly, with no apparent cause.

Twirpscript was working fine for a while, then suddenly I started getting this error out of a blue.
Sometimes I need to run twirpscript few times in a row before it succeeds without the error. As if I have to wait for some lock to release, but there should be none.

[code]

[2021-11-16 12:03] 4nte commented on #7
Upon further investigation, it seems that the issue is caused by writing "large" buffers to _stdout_.

I tested this by removing half of my proto files and running twirpscript successfully 100% of the time.
When I add more proto files, twirpscript starts consistently failing with the error above.

Refactoring
[code]

[code]

[2021-11-16 22:53] tatethurston commented on #7
Hey @4nte thanks for reporting this issue. What version of node are you using? Also, do you have an example repo that I could take a look at?

[2021-11-17 00:27] 4nte commented on #7
I'm running node v16.11.0 on Manjaro 21.1.6

Here's an example repo.
https://github.com/4nte/twirpscript-eagain-example

Steps to reproduce:
1. Run twirpscript

[2021-11-17 03:20] tatethurston commented on #7
@4nte Thanks so much for the repro. I've published v0.0.22 which resolves the issue in your example. Let me know if you run into anything else!

[2021-11-17 03:20] #7 closed

[2021-11-17 08:38] ngorohov opened #10 "Bug with optional fields in .proto and one more thing"
Hello.
I've tried to generate some JS client for my Twirp server and found these bugs:
1.
[code]
   - there is no notes in readme about supporting optional fields, but in example You use proto3, that's why I've decide that You support it.
2. Some of my .proto files just not complie with syntax error:
[code]
there's example file:
[code]
So due to package it located in /api/v1 directory

[2021-11-17 17:57] tatethurston commented on #10
Hey @ngorohov I'll take a look at this. Thank you for the examples.

[2021-11-18 00:22] tatethurston commented on #10
Alright https://github.com/tatethurston/TwirpScript/pull/11 will fix bullet point 2

[2021-11-18 00:26] tatethurston commented on #10
Protobuf v3.15 reintroduced `optional`  fields (after removing them in the 2
 -> 3 conversion) https://github.com/protocolbuffers/protobuf/releases/tag/v3.15.0. I'm happy to implement support in TwirpScript.

[2021-11-18 02:32] tatethurston commented on #10
I published v0.0.24 with support for proto3 `optional` labels. Try it out and let me know if you run into any issues!

[2021-11-18 02:33] #10 closed

[2021-12-01 09:20] antonioorct opened #24 "RangeError when service name is too long"
[code]

When a long service name as above is provided then the twirpscript errors out with the following error:

[code]

[2021-12-01 17:58] #24 closed

[2021-12-12 11:54] matt-tyler opened #34 "Inexplicable bug occurring during code generation"
Hey tate,

First of all, great work on this library. It was real easy for me to get a typescript flavored twirp server running on AWS Lambda.

The following results in an error when running `npx twirpscript`
[code]
However, moving the "Address" message out to the top scope resolves the error. It's not clear to me exactly why this would be the case, and I've not seen this occur in other grpc/proto

[2021-12-12 19:43] #34 closed

[2021-12-12 19:47] tatethurston commented on #34
Hey @matt-tyler thanks for the kind words and for reporting this bug. I'm glad to hear you were able to get a twirp service running on AWS lambda quickly. I've fixed the issue you ran into and published the fix in https://github.com/tatethurston/TwirpScript/releases/tag/v0.0.29

[2021-12-12 22:09] tatethurston commented on #34
@matt-tyler Do you have any code (or a repository) you could share showing your lambda usage? I've been planning to add support and/or documentation for that use case.

[2021-12-12 23:33] matt-tyler commented on #34
Thanks for the extremely prompt fix!

wrt: lambda

Not at the moment but honestly, it's not particularly difficult. `aws-lambda-go` publishes a bunch of helpers that wrap the standard go HTTP server and convert requests/response to/from the API Gateway format, so I went looking for something that takes the same approach in nodejs, which exists in @vendia/serverless-express.

[code]

So only a pret

[2021-12-13 00:36] tatethurston commented on #34
Thanks @matt-tyler!

[2021-12-16 09:30] antonioorct opened #37 "Why was `url` property removed from client middleware?"
In #29 the url property from `interface MiddlewareConfig` was removed. Any specific reason for this? I was using it in my app and now i cannot check which url the request is being sent to.

Example:
[code]

[2021-12-16 16:15] tatethurston commented on #37
Hey @antonioorct thanks for reporting this. First off, I apologize for the thrash here.

My intention was to replace `url` with `baseURL`, `prefix` and `path` for API consistency:

[code]

I see overlooked adding path in #29 !

This should resolve your issue. I'm curious on your thoughts on the developer experience here though. Do you have a preference for interacting with the distinct parts (`bas

[2021-12-16 21:04] #37 closed

[2021-12-18 01:37] tatethurston commented on #34
TwirpScript now exports a `createTwirpServerless` primitive for clients that want to deploy serverless TwirpScript handlers. The wiring isn't quite as succinct as serverlessExpress though!

https://github.com/tatethurston/TwirpScript/blob/main/examples/aws-lambda/src/index.ts

[2021-12-22 15:57] PatriciaHudakova opened #48 "Runtime client issue when trying to run the server"
Hey,

I was able to follow your README example but encountered `readonly headers: Pick<Headers, "get">;` when trying to run `yarn tsc`. I have followed the readme instructions and generated files based on the same .proto

Full Logs:

[code]

tsconfig:

[code]

[2021-12-22 16:45] arranf commented on #48
The `Headers` interface that's being used on L97 of `src/runtime/client/index.ts` seems to refer to the `Headers` interface in `typescript/lib/lib.dom.d` (copied out and pasted below).

It looks like it needs to be imported or redefined within TwirpScript.

[code]

[2021-12-22 19:37] #48 closed

[2021-12-22 19:41] tatethurston commented on #48
Hey @PatriciaHudakova and @arranf, thanks for reporting this and looking into the issue. @arranf is correct -- a recent change to support nodejs clients without relying on fetch made lib.dom.d.ts an implicit dependency. I've published v0.0.32 with a fix.

Let me know if you run into any other problems, rough areas, or have any suggestions!

[2021-12-23 12:35] arranf opened #50 "TypeError: Cannot read properties of undefined (reading 'content-type') at getRequestContext"
Calling the basic example from the README from a client using the `nodeHttpTransport` on node v16 with TwirpScript v0.0.32 and TypeScript v4.5.4 results in an undefined access issue identifying the content-type of the request on the server.

Logs:
[code]

Note that there is _some_ guarding against this in `validateRequest` but this is called _after_ `getRequestContext` which access the content-typ

[2021-12-23 13:16] arranf opened #51 "package.json Commands Broken"
After checking out and cloning the repo the following commands seem to be broken:

* `examples:check`
* `examples:gen`
* `test:e2e`

Also the examples seem to depend on the current _published_ version of the package as opposed to the current version of the package in the repo which might lead to some bugs going undetected. I'm not an expert at how to link the examples to the package but if they co

[2021-12-23 19:54] tatethurston commented on #51
Hey @arranf these commands actually all depend on the `test:e2e:prepare` command. This npm links local build instead of pulling the published version of the package. There is a good deal of test coverage I'm planning to backfill. I'm not sure that I want to promote these to E2E tests, right now they are a bridge solution for testing gaps, but I would prefer more targeted tests.

[2021-12-23 19:55] #51 closed

[2021-12-23 20:46] arranf commented on #51
@tatethurston That makes sense!
I'll take a stab at running these commands - it might be worth briefly outlining these in the README?

[2021-12-24 10:05] tatethurston commented on #51
I created `examples:setup` and `test:e2e:setup` which is hopefully a bit more discoverable, and is also fully automated.

[2021-12-24 11:13] tatethurston commented on #50
Hey @arranf thanks for reporting this and digging in. I'm going to move to mutating `body` on the request instead of keeping the object spread so we don't get bit by other request properties that aren't own enumberable.

I'm curious why we see a difference here based on the client, browser fetch vs node's http.

[2021-12-24 11:28] #50 closed

[2021-12-29 16:12] PatriciaHudakova opened #59 "Server hook returns malformed response when content type is Protobuf"
Hey,

Thank you for the quick responses to our previous issues, much appreciated!

I've been trying to print out the server response onto the console using the `responseSent`hook, and it neatly prints out the response when the content type requested is JSON:
`INFO: response sent back to Haberdasher using method MakeHatBrown with content type JSON,
  response code: 200, response body: {"inches":12,

[2021-12-29 19:58] tatethurston commented on #59
Hey @PatriciaHudakova this is because the response body is encoded l. When the encoding format is JSON, it is still readable because JSON is a human readable encoding. protobuf is not a human readable encoding, which is why console.log ing the encoded body isn’t very helpful.

This is one of the main motivations for Twirp having a JSON format — it’s easier to debug with simple tools than protobuf.

[2021-12-29 20:28] PatriciaHudakova commented on #59
ah that makes sense 😅 thank you!

[2021-12-29 20:28] #59 closed

[2021-12-29 21:58] tatethurston commented on #59
No problem! What’s your use case? Are you debugging, exploring or trying to improve the general DX during development?

I added some request logging, and thought about including responses, but was concerned about console spam for large responses — the current logging is bounded, where responses could be arbitrarily large. I used Rails as the logging inspiration.

[2021-12-30 10:39] PatriciaHudakova commented on #59
Heya, a little bit of exploring and a little bit of trying to improve the DX, was just trying to see to what extent the hooks would be useful when you have multiple response types being returned for different RPC-based calls in protobuf. Since the hooks are on the server level, the hooks themselves wouldn't be able to "know" what object to deserialise the protobuf into, so I would have to deserial

[2021-12-31 09:15] antonioorct commented on #37
@tatethurston IMO, having the `url` split into its corresponding parts is much more intuitive and allows for more fine grained searching, specifically in my example i only need the `path` part of the url. And in general i doubt you'd ever need to search the `url` as a whole.

[2021-12-31 09:51] antonioorct opened #60 "`Cannot access '...' before initialization` when a map type is defined in .proto file"
[code]

I've encountered this error in my React app when i defined a map of any two types in a .proto file.
E.g.
[code]

I've created a repo with the error recreated: https://github.com/antonioorct/twirpscript-initialization-error

[2022-01-01 23:42] tatethurston commented on #60
Hey @antonioorct I haven't implemented `map` for TwirpScript but I'm happy to do so -- it's the one data type (other than `Group` which is not usable in `protobuf3`) that has yet to be implemented.

I need to look into map backwards compatibility https://developers.google.com/protocol-buffers/docs/proto3#backwards_compatibility for the implementation.

[2022-01-02 02:11] tatethurston commented on #59
I've made the `service` and `method` properties now point to generated objects instead of simply being strings (eg previously these were the `Haberdasher` and `MakeHat` and now these point to generated objects.

This means you can do something like the following:

[code]

[code]

[2022-01-02 05:11] tatethurston commented on #37
@antonioorct would having the ‘service’ and ‘method’ be more helpful than the path? I could see having that available in the config/context object (eg service: “Haberdasher”, method: “MakeHat”).

[2022-01-02 18:53] PatriciaHudakova commented on #59
ah that's super awesome, thanks for this!

[2022-01-05 03:47] tatethurston commented on #60
A little delay here, AFAICT [google's protobuf library does not expose the map type](https://github.com/protocolbuffers/protobuf/issues/9369). I'll look for a workaround in the meantime.

[2022-01-05 03:56] tatethurston commented on #59
This has been published in v0.0.34

[2022-01-05 12:26] PatriciaHudakova commented on #59
hey @tatethurston, thank you for this, I was able to upgrade to v0.0.34 and regenerate the files, I've copied the hook example given in the v0.0.34 notes and I get a compile error `Property 'body' does not exist on type 'IncomingMessage'.ts(2339)` when calling req.body 👀 could I be missing something?

[2022-01-05 22:18] tatethurston commented on #59
Hey @PatriciaHudakova `requestRouted` is now called with the input to your handler and `responsePrepared` is now called with the output. These are the request.body and response.body respectively, so there isn't any deserialization required.

Thanks for letting me know about `requestRecieved` -- I'll update the types.

[2022-01-05 22:57] PatriciaHudakova commented on #59
ah that works, thanks a lot for this! 🎉

[2022-01-05 23:07] PatriciaHudakova commented on #59
😅😅😅😅😅 sorry about this, now I'm getting `Argument of type 'string | Buffer | null | undefined' is not assignable to parameter of type 'ByteSource'. Type 'undefined' is not assignable to type 'ByteSource'.ts(2345)` as an error on the req.body inside the decode() on the requestReceived hook

[2022-01-05 23:56] tatethurston commented on #59
I'll have to think on this. I could likely strengthen the type signature to drop the `null | undefined`, but you'll still run into an issue in the JSON case, because TS won't like `Buffer` in a template string, and `JSON.stringify` won't accept `Buffer | string`.

You could cast (though you lose some type safety, and this would break if a client sent an empty request body):

[code]

I would recomm

[2022-01-06 00:18] arranf opened #69 "ServerRequest Type Definition Fails to Compile"
I'm running into this error when compiling an example server using TS 4.1.3 on Node 16.3.

I will provide a reduced example which I'll PR to the `/examples` directory.

[code]

Playing around with this I don't think it's possible to use `typeof` in a  `Pick` type as `typeof` runs at runtime but `Pick` is compile time. I could be _completely_ missing something here because I don't get a linting err

[2022-01-06 00:41] arranf commented on #69
After further testing I can no longer replicate this. I think it might've been a race condition in my build step possibly.

[2022-01-06 00:41] #69 closed

[2022-01-08 10:32] #60 closed

[2022-01-08 10:37] tatethurston commented on #60
@antonioorct I've added support for the `map` type in v0.0.36.

[2022-01-18 10:26] arranf opened #88 "Fails to Generate .pb.ts Files With Custom Root Defined"
`yarn twirpscript` fails to generate `.pb.ts` files when a custom root is defined in a `.twirp.json` file.

## Configuration

Node: 14.17.0
Twirpscript: 0.0.38

A `.twirp.json` file with the following configuration:

[code]

A project of the following folder structure

![image](https://user-images.githubusercontent.com/8703222/149918527-38ee8f8b-5ddb-4765-b91a-bce1da12932d.png)

## The Problem
In

[2022-01-19 02:28] #88 closed

[2022-01-19 12:06] PatriciaHudakova opened #94 "MIN_SUPPORTED_VERSION_0_0_34 is declared but its value is never read"
Heya,

I have upgraded to v0.0.39 (thank you for all your work 🎉 ), and I've noticed this new field being generated with the new version. I understand it acts as a backwards compatibility check which is really useful, but because our ts compiler settings are quite strict (specifically noUnusedParameters is set to true), the project compilation fails. Commenting this out in the generated files caus

[2022-01-19 19:40] PatriciaHudakova commented on #94
Or would it be possible to generate that file with `@ts-ignore` on the offensive line?

[2022-01-20 01:21] tatethurston commented on #94
Hey @PatriciaHudakova thanks for reporting this. I've been on the fence about `MIN_SUPPOTED_VERSION_X`.

It's nice that it's a simple way to ensure compatibility at compile time, rather than breaking at runtime on mismatched TwirpScript / `.pb.ts` files. That said, I'm not sure how likely a mismatch is in practice. I expect most clients will run `yarn twirpscript` frequently, and the version misma

[2022-01-20 02:07] #94 closed

[2022-01-23 23:55] arranf opened #99 "Fails to Generate Compilable TS for RPC with Empty Interfaces"
In #94 I noted this comment

If you compile with the `noUnusedParameters` flag on and also have a message that's empty (e.g.`message EmptyParams {}`) you'll generate functions like

[code]

The three lines I've commented will fail due to the parameters being unused. An ideal solution would be to prefix these parameters with `_`.

[2022-01-24 00:19] arranf commented on #99
Looks like this was a bigger problem on an older version of TwirpScript - on the latest only the `msg` parameter of `writeMessage` (since renamed `_writeMessage`) appears to be a problem.

[2022-01-24 20:07] tatethurston commented on #99
Hey @arranf, thanks for opening this. I've been thinking about empty messages -- particularly RPC call sites and whether to special case empty messages so that argument doesn't have to be provided. Eg:

`await SomeRpc({})` vs `await SomeRpc()`.

For the types / serializers, I think it makes sense to special case the empty message case in the compiler and emit less code -- dropping both of the "pri

[2022-01-24 21:21] #99 closed

[2022-01-26 13:22] antonioorct opened #103 "Error response not being set"
Throwing an error always results in code 500 and "server error" as the message.

I've tried
[code]
All of these produced code 500 and "server error".

I've also tried replacing `throw` with `return` but this gives a response of 200 and empty body.

I'm also running v0.0.37 if that makes a difference

[2022-01-26 17:24] arranf opened #104 "Service Name Generation"
[Buf](https://github.com/bufbuild/buf)'s default lint settings requires services to end in service i.e. `HaberdasherService` rather than `Haberdasher`.

If you follow that convention, TwirpScript generates `HaberdasherServiceService`

[2022-01-26 20:36] tatethurston commented on #104
Cool, that makes sense to me. I think this service suffix is coming from `google-protobuf`, I think the only name manipulation I do is camelCasing.

Speaking of which, because this will be a breaking change, what do you think about camel casing the service and method names while we're in here?

[2022-01-26 23:20] tatethurston commented on #103
Hey @antonioorct, I've updated the documentation in this PR: https://github.com/tatethurston/TwirpScript/pull/107.

the tldr is that you'll want to use

[code]

Let me know if you still encounter any issues. Also, any reason you're running `v0.0.37`?

[2022-01-26 23:21] #103 closed

[2022-01-27 07:58] antonioorct commented on #103
@tatethurston i usually update when you add a feature that i need or fix a bug as i don't want to deal with changing my code unnecessarily because of breaking changes

[2022-01-27 08:18] antonioorct commented on #103
I've upgraded to v0.0.42 because typescript was throwing an error with your answer with my previous version, but now it works, thanks!

[2022-01-27 09:44] antonioorct opened #108 "`import/first` es-lint error"
![image](https://user-images.githubusercontent.com/14859262/151326747-85980e70-20ee-45af-8bc1-172a0c287f78.png)

[code]

Ignoring *.pb.ts files in the eslint config fixes it.

[2022-01-27 10:43] antonioorct opened #109 "Malformed response with repeated fields"
Below is an example .proto file when this occurs:
[code]

After making the request on the client i receive the correct length of the array as formed on the server but each element of the array is undefined.

Server side:
[code]
Client side:
[code]

EDIT: forgot to mention, i'm using v0.0.42

[2022-01-27 11:25] arranf commented on #109
@antonioorct Which version(s) of TwirpScript are you using?

[2022-01-27 11:40] antonioorct commented on #109
v0.0.42

[2022-01-27 12:11] arranf commented on #108
@antonioorct I think it is recommended not to use eslint on the generated files.

[2022-01-27 23:45] tatethurston commented on #108
Yep! @arranf is correct. I've updated the Readme with more context: https://github.com/tatethurston/TwirpScript#working-with-other-tools. LMK if you have any questions.

[2022-01-27 23:45] #108 closed

[2022-01-28 00:36] arranf commented on #109
@tatethurston I can replicate this!

[2022-01-28 01:24] tatethurston commented on #109
@antonioorct Awesome, thanks for reporting this. And thanks @arranf for digging in -- I'll take a look as well.

[2022-01-28 01:26] tatethurston commented on #109
Ah 🤦 I see the issue. I'll have a patch submitted shortly.

[2022-01-28 01:56] #109 closed

[2022-01-28 01:57] tatethurston commented on #109
This is fixed in v0.0.43, LMK if you encounter any issues.

[2022-01-28 10:49] arranf opened #113 "Reducing Scope of Generated Files"
We are using a model where we have a git submodule in our services which contains the `.proto` definitions for our services.

Running `yarn twirpscript` generates unneeded `.pb.ts` definitions as a result. It'd be nice to be able to scope which `.proto` files are used for generation.

I'd propose using the same model as npm where you can either include a `files` array of `.proto` files in the `.tw

[2022-01-28 10:58] arranf opened #114 "CamelCase Responses with snake_case Protobuf"
The change to make everything camel case has had a side effect I wasn't anticipating and I wanted to run my ideas past you!

I'm looking to rewrite an existing service which has an existing data contract which uses `snake_case` for its responses. The current implementation of TwirpScript generates types which are `camelCase`, which it makes it impossible to replace the existing service without cau

[2022-01-28 17:48] tatethurston commented on #114
Hey @arranf,

Does your existing service respond with JSON, protobuf, or both? If you own the client and the server, and your clients only use protobuf, the casing difference won't break any clients or servers, because the field names aren't sent over the wire.

If you need JSON support in production, I could prioritize some JSON work in TwirpScript. The JSON serialization/deserialization for Twir

[2022-01-28 18:28] tatethurston commented on #113
Yeah this addition totally makes sense to me. What do you think about something like include / [exclude](https://www.typescriptlang.org/tsconfig#exclude) from tsconfig?

I think I'd like to keep all the twirp parameters in `.twirp.json` instead of having multiple files. I've been thinking about also accepting twirp parameters from a key in `package.json` -- I can't remember if tools and the broade

[2022-01-29 00:38] tatethurston commented on #113
As a follow up question, if TwirpScript integrated with `buf` as a [plugin](https://docs.buf.build/tour/generate-code) would you prefer to use `buf` instead of running `yarn twirpscript`?

[2022-01-29 14:03] arranf commented on #113
I don't think so! I think I'd be open to the idea but I don't think that'd be more helpful with our current workflow (although I'm certain that'll evolve over time!)

What do you see the advantage as here?

Yep that totally makes sense to me! I'm of the opinion that the `package.json` gets overly stuffed full of config so where possible I've avoided using that. A specific it makes specific tooling

[2022-01-29 14:08] arranf commented on #114
@tatethurston Hey!

Thanks for pointing out I was being an idiot with the Protobuf field names!

I think that leaves the main issue being that the service we're placing only supports JSON. We don't own the clients to the degree that we can do an easy breaking change here - we need parity in the payload that's sent back.

We can currently get away with reshaping the object and then using `as` (desc

[2022-01-30 22:23] tatethurston commented on #113
The benefits would be piggy backing on work `buf` has already done (such as path `excludes`. Also condensing any code pipelines like `buf && yarn twripscript` to simply `buf`.

That makes sense to me.

Great, do you want to take a swing at the implementation? I'm happy to help where needed.

[2022-01-30 22:32] arranf commented on #113
@tatethurston Definitely. I'm hoping I'll be able to dedicate some time to it (and cleaning up my other PR!) this week.

[2022-01-30 22:34] tatethurston commented on #114
Two options I can think of are:

- Adding an option to TwirpScript to use the `proto` field names exactly as written for JSON responses. This would apply to all output from the TwirpScript compiler. I think I would keep the generated code interface field names the same (camel cased) and only have the JSON serialization impacted.

- Implement the `json_name` option described [here](https://develope

[2022-01-30 22:39] arranf commented on #114
I'm happy with either option and I'm happy to help contribute to this as I understand either are significant work!

We're not replacing an existing twirp service here - we're replacing an old standard restful service but putting a reverse proxy in front of it to redirect traffic to the new Twirp service. We're hoping to use this pattern where possible to avoid breaking changes to clients.

[2022-02-01 03:22] tatethurston commented on #114
Awesome, thanks for the context. I’ll plan on implementing JSON serializers and accepting the json_name option

[2022-02-02 08:43] antonioorct opened #115 "Are there any plans to natively support `int64`?"
I think right now proto's `int64` in js has the type of `string`. Maybe if you could support it by using js' `BigInt` type or something similar?

[2022-02-02 16:49] tatethurston commented on #114
I implemented `json_name` in https://github.com/tatethurston/TwirpScript/pull/116. Try it out and LMK if you run into any issues!

[2022-02-02 16:50] #114 closed

[2022-02-02 16:53] tatethurston commented on #115
Totally. I punted on making a decision here until someone had a use case. A number of libraries use https://github.com/dcodeIO/Long.js/, but I think that is because they predate support for `BigInt`.

BigInt looks well supported https://caniuse.com/bigint https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt so I'll implement it. Down the road if someone prefers t

[2022-02-02 17:08] arranf commented on #114
Thanks so much @tatethurston !!!!
Will take a look :)

[2022-02-02 20:50] tatethurston commented on #115
On a related note, @antonioorct what are your thoughts on using [Map](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map) instead of an object literal as the generated type for maps? This would be a breaking change because `Map` has a different interface than a plain JavaScript object.

The motivation is that keys in JS object literals are strings, where `Map` pre

[2022-02-02 23:32] #115 closed

[2022-02-03 15:35] antonioorct commented on #115
@tatethurston well, that seems like a logical assessment, although i **personally** wouldn't need to have this implemented, as for now i haven't had a use case where i had to use anything other than `string` or `number` as an index of a map object, not only on my current project but any other project.

[2022-02-08 09:21] antonioorct opened #120 "Type check error with map field type"
.proto
`map<string, int32> beaconCountByStatus = 1;`

![image](https://user-images.githubusercontent.com/14859262/152956475-a99669a1-e435-40b6-a2b1-a027d7db04e7.png)
![image](https://user-images.githubusercontent.com/14859262/152956494-9b60a798-0ff1-4ab5-bde5-7639e08fb806.png)

Manually adding the .entries type arguments fixes it:
![image](https://user-images.githubusercontent.com/14859262/1529565

[2022-02-08 15:53] arranf opened #121 "TwirpScript 0.0.44 fails to compile with noUnusedLocals TSConfig Option with Empty Parameters"
TwirpScript  0.0.44 fails to compile with noUnusedLocals TSConfig Option due to the `_readMessageJSON`'s `json` parameter.

[2022-02-09 19:44] #120 closed

[2022-02-09 19:44] #121 closed

[2022-02-09 19:45] tatethurston commented on #121
Thanks @arranf this is fixed in https://github.com/tatethurston/TwirpScript/releases/tag/v0.0.45

[2022-02-09 19:46] tatethurston commented on #120
Thanks @antonioorct this is fixed in [v.0.0.45](https://github.com/tatethurston/TwirpScript/releases/tag/v0.0.45)

[2022-02-10 00:12] arranf opened #123 "Possible Regression in 0.0.44 and 0.0.45. Empty repeated fields aren't serialized in JSON Responses"
`repeated` fields stopped being serialised in JSON responses if the runtime array is empty in 0.0.44. Prior to this they were always included.

I understand for protobufs all fields are optional by default - I'm not sure what the correct behaviour is for JSON.

Example
[code]

[2022-02-10 00:32] tatethurston commented on #123
Hey @arranf this spec should be treated as the source of truth for protobuf JSON: https://developers.google.com/protocol-buffers/docs/proto3#json

TwirpScript isn't _quite_ in spec yet, but this is the expected behavior. Do you need a different behavior?

[2022-02-10 00:43] arranf commented on #123
Thanks for that link! Ideally - yes, we would have the option to serialize them differently but I'm very aware that as that's out of spec that's probably not in the best interests of the library.

[2022-02-10 07:54] arranf commented on #123
I think not including them is a sensible default behaviour but if possible it'd be great to have an option to (per project) have them serialize as an empty array instead!

[2022-02-15 15:52] oweingrod opened #124 "Optional message fields are `type | undefined` instead of `type | null`"
First off, really enjoying this project. Love how strong the documentation and guide are.

I'm building an RPC server that is used for quickly writing/retrieving database records using Prisma as an ORM. Both Prisma and Twirpscript provide pre-generated types, but there is an incompatibility between them that is difficult to overcome.

Assume a database table like:

[code]

Where there are two non

[2022-02-15 18:47] tatethurston commented on #124
Thanks @oweingrod I'm glad you're enjoying TwirpScript so far.

Yes, that friction is annoying, and stems from having two bottom types in JavaScript. I personally subscribe to Douglas Crockford's stance on avoiding `null` usage within applications, and always use `undefined` as the bottom type. Even with that approach, `null` can still be unavoidable because of 3rd libraries.

My inclination is to

[2022-02-15 19:09] oweingrod commented on #124
@tatethurston I think that this would be a reasonable change. Perhaps there is a way to expose an option to handle this in `twirp.json` so that users who have already built handlers relying on `field` being undefined do not experience breaking changes?

[2022-02-15 20:01] tatethurston commented on #124
Yeah I considered that, but I'm thinking about approaching it from the opposite direction. In general I'm trying to stay as zero config / works out of the box as possible. I _think_ being unimpacted or wanting the widened type is going to be the more common case than needing the narrower type.

I'm thinking I'll expose a config option to generate the narrower type (current state) if / when someone

[2022-02-15 20:02] oweingrod-lc commented on #124
Makes sense! I also think, in general (or at least in my experience as a JS dev) that the pattern of `if (!foo)` is more common than `(if foo === undefined || foo === null)`. But that might just be my experience! Thanks for the prompt response.

--

littlecinema.net ***@***.***
<https://www.instagram.com/little.cinema/>
2021 Adweek Experiential Agency
of the Year
<https://www.adweek.com/performanc

[2022-02-16 17:44] #104 closed

[2022-02-16 19:15] tatethurston commented on #113
fixed in #127

[2022-02-16 19:15] #113 closed

[2022-02-16 19:29] #124 closed

[2022-02-22 23:58] #123 closed

[2022-02-23 17:20] tatethurston commented on #123
Hey @arranf setting the new json.emitFieldsWithDefaultValues option to true should cover this case. LMK if you run into any issues

[2022-02-26 16:39] alexisvisco opened #133 "Using twirpscript with Buf.build is not working due to prettier"
Hi !

I am trying to build with the [buf](https://docs.buf.build/introduction) client but I am unable to achieve a generation :/

I created a example repository that you can play with : https://github.com/alexisvisco/protocol-example
Just clone it and run `make run` (it will take some time because I assume that you are not using buf so I created an image and make run build it)

Output:
[code]

[2022-02-26 17:48] alexisvisco commented on #133
Patching the compile.js and removing the formatting by prettier fixed the issue (with lot of warning from protobuf but), however it would be nice to keep the formatting because files look really bad haha

[2022-02-26 22:29] tatethurston commented on #133
Hey @alexisvisco thanks for opening this. I haven't looked into running `twirpscript` from `buf`. Right now, TwirpScript assumes that it is compiling all of a project's `proto` files in a single pass, so there may be a few changes necessary to integrate well with `buf`.

[2022-02-26 22:33] alexisvisco commented on #133
Buf have different strategy to generate, the `all` strategy commented in the file does not solve the problem of prettier.

[2022-02-26 22:39] alexisvisco commented on #133
@tatethurston  yep, using `    strategy: all` resolve warnings, maybe I should add a tsconfig.json and a package.jsoin at the root of the generation 🤔

[2022-02-26 22:39] tatethurston commented on #133
Cool, looks like the `all` strategy resolves the warnings (those are generated because duplicate files are being generated for google's well known types, which TwirpScript outputs in a separate file rather than inlining).

The next issue to tackle is figuring out why `protoc-gen-openapiv2` is being generated -- looking at the `go` output that is not desirable.

[2022-02-26 22:43] alexisvisco commented on #133
The major issue for me is the problem with prettier that stop the generation haha :)

[2022-02-26 22:58] tatethurston commented on #133
I’ll look into this some more and figure out what is causing the prettier error. I suspect this is a bug in TwirpScript unrelated to buf and instead specific to an input proto file. I think the output of one or more of the files is likely malformed and not runnable. But do let me know if you’re able to move forward with prettier disabled.

[2022-02-26 23:01] alexisvisco commented on #133
I haven't tested it yet, I will do it tomorrow (00:01 France ) thank you man for your answer, I will give you feedback asap.

[2022-02-27 18:32] alexisvisco commented on #133
@tatethurston  Hey ! After fixing the little problem with fetch the code generated without prettier works well.
What is you insight

what did you find wrong about the proto generation?

The client is usable, I might test the server too to be sure the generation is okay.

[2022-03-01 03:37] tatethurston commented on #133
I created a minimal working example using buf: https://github.com/tatethurston/TwirpScript#buf https://github.com/tatethurston/twirpscript/tree/main/examples/buf.

I'd like to avoid an option to disable prettier formatting. Once the bug is resolved, that step won't be necessary, and the bug should be fixed either way.

[2022-03-01 05:03] tatethurston commented on #133
@alexisvisco I tracked down the generation issue and fixed it. I've published [v0.0.48](https://github.com/tatethurston/TwirpScript/releases/tag/v0.0.48) with the fix. Try it out and LMK if you run into any issues

[2022-03-01 05:03] #133 closed

[2022-03-01 07:59] alexisvisco commented on #133
@tatethurston thanks you so much for your investigation ! It works well I am very happy.

[2022-03-07 14:46] alexisvisco opened #147 "Feature request : generate only interface types ?"
Hey, would it be possible to just generate only interface types without any implementation ?

If so it will permit  for some people who rewrite urls to build their own custom client based on the types generated and removing protobuf and twirp from their dependencies.

[2022-03-07 18:19] tatethurston commented on #147
Hey @alexisvisco, that is certainly doable. Could you help me understand this use case a bit more?

Questions:
1. > removing protobuf
So these would be JSON clients? Or would they leverage a different protobuf library?

2. > and twirp
The client runtime implements error handling, so these clients would reimplement that?

3. Looking at the [haberdasher example](https://github.com/tatethurston/Twirp

[2022-03-07 20:08] alexisvisco commented on #147
We already made our own custom client because we were using grpc with grpc-gateway so either having a custom domain mapping or only the types would be awesome.

It's possible but don't forget that twirp only use POST routes so I don't know how you will deal with someone who put a GET '/v1/dummy' dor instance.

Another thing to considerate is do you keep the prefix or not ? ^^

Lot of questions wit

[2022-03-07 20:45] tatethurston commented on #147
Got it. So you've switched to a twirp backend from gRPC?

If you're using a modern client bundler like webpack (any bundler with tree shaking support will work) the runtime dependencies won't be present in client builds if you don't use those depdencies.

Another thing to considerate is do you keep the prefix or not ? ^^

Yes those questions would need to be fleshed out. [twirp-ts gateway](https:/

[2022-03-07 20:53] tatethurston commented on #147
Circling back to this, would you want types for the client definitions as well? Eg something like:

[code]

Or would you use `Haberdasher<T>["MakeHat"]` as the type?

[2022-03-07 22:20] alexisvisco commented on #147
I looked around for some ts generation repository but lot of them are not ready to be packaged as a library as easily as yours. Plus, if we decide to switch from json to protobuf in our web clients, it would only be possible with your code generation. (I think your typescript generation is the most usable on there for twirp)

I don't think so, ideally I would implement the interface :
[code]

On m

[2022-03-07 22:24] alexisvisco commented on #147
Firstly what I can do is generate the code as twirpscript currently does and map the service urls to those that my proxy expects (therefore the public url) with an interceptor.

If you decide to implement one of the solutions we discussed let me know, if I can help too I would be delighted, I have a few hours left to spare.

[2022-03-07 23:40] tatethurston commented on #147
I'll plan to implement type only generation for now. I think the lift is going to be fairly low there -- maybe an hour or two? So I should be able to publish something tomorrow or Wednesday.

[2022-03-07 23:48] tatethurston commented on #147
Protobuf specifies some complex [rules around JSON serialization](https://developers.google.com/protocol-buffers/docs/proto3#json). TwirpScript isn't fully compliant -- there is some special handling of "well known types" that aren't implemented.

[2022-03-17 16:46] tatethurston commented on #147
@alexisvisco this is available in [v0.0.50](https://github.com/tatethurston/TwirpScript/releases/tag/v0.0.50)

[2022-03-17 20:28] alexisvisco commented on #147
Hoooo thanks you, you are awesome !!! 😍

[2022-03-23 18:11] alexisvisco opened #150 "Enum methods with suffix ToInt not importeds"
Hi,

While  generating a proto with a enum in another package, methods with ToInt arn't imported.

Example https://github.com/alexisvisco/protocol-example/tree/enum-does-not-works

[2022-03-23 18:21] tatethurston commented on #150
Hey @alexisvisco thanks for reporting. Could you give me a little more context here? Which file(s) should I be looking at?

[2022-03-23 18:25] alexisvisco commented on #150
https://github.com/alexisvisco/protocol-example/blob/enum-does-not-works/protos/leads/v1/leads.proto#L85

When you are generating the code you will see an error in your editor, or when building typescript files

[2022-03-23 18:31] alexisvisco opened #151 "Map seems does not works properly"
Hi,

When adding a map with a type it seems like the generated code not compile.

Example repository : https://github.com/alexisvisco/protocol-example/tree/maps-does-not-works

With this property https://github.com/alexisvisco/protocol-example/blob/maps-does-not-works/protos/leads/v1/leads.proto#L70

[2022-03-23 18:32] tatethurston commented on #150
Ah, got it. Thanks @alexisvisco, I see what's going on here. This is a regression I introduced when I migrated to a string representation for enums.

[2022-03-23 18:45] alexisvisco commented on #151
[code]

[2022-03-26 19:42] tatethurston commented on #151
@alexisvisco could you confirm which version of TwirpScript and TypeScript you're using?

I see `"twirpscript": "^0.0.47"` in your example and no `yarn.lock`. Do you still run into this issue on `v0.0.50`?

[2022-03-27 17:33] #150 closed

[2022-03-28 19:49] #151 closed

[2022-04-04 10:08] seasonxuan opened #158 "Hope to support proto 2 default value"
in `proto 2`.

[code]

I hope the generated code `*.pb.ts`  have default value , seems look like:

[code]
That means, the web client code `SomeQuery.initialize().limit` is 10, not 0.

[2022-04-04 16:01] tatethurston commented on #158
Hey @seasonxuan thanks for opening this. I'm not going to support `proto2` in this library.

Is there a particular reason setting a different value in your application code is undesirable?

This value is actually going to be `undefined` not `0` because the field is optional -- only non default values have a value generated by `initialize`.

You can do something like

`someQueryMessage.limit ?? 10`

[2022-04-07 09:26] seasonxuan commented on #158
@tatethurston OK, Thank you.

[2022-04-07 09:26] #158 closed

[2022-04-23 17:27] alexisvisco opened #161 "decodeJSON methods aren't called"
Hello,

While using a side project I create a message with a field with an underscore `workspace_id`.
For debugging I am using JSON rpc calls and when I retrieve a response it seems like the `workspaceId` isn't filled, but if I force to `workspace_id` it works (but there is a compile error).

<img width="719" alt="image" src="https://user-images.githubusercontent.com/17145294/164917050-f90da71b-94

[2022-04-23 17:58] alexisvisco opened #162 "Null message in response are filled with empty values"
Hi !

When I receive a protobuf message with a field that is a message and is null, the decode will read the message and set default value for it. However it is null.

Could you please fix this bug ? :)

[2022-04-23 18:33] tatethurston commented on #161
Hey @alexisvisco 👋. Thanks for reporting this -- that was a silly oversight on my end. I'll have a fix published soon.

[2022-04-23 18:36] tatethurston commented on #162
Hey @alexisvisco, a few questions:

1. Is this during a JSON or Protobuf decoding?
2. Is this an optional field?

[2022-04-23 18:47] alexisvisco commented on #162
1. It is with the protobuf decoding
2. It is not an optional field but it is a message (not a native type)

I don't think message are serialized with default value because in Go message field are generated with pointers and when you provide nothing for a field that is a message it put a null pointer.

Is this more clear to you ?

[2022-04-23 18:49] alexisvisco commented on #162
[code]

If I sent {} through the rpc method I will get a nil dashboard and this is the correct behavior.

[2022-04-23 18:54] #161 closed

[2022-04-23 19:04] tatethurston commented on #162
What's the reason to avoid marking dashboard as `optional`? https://developers.google.com/protocol-buffers/docs/proto#optional

[code]

This is more flexible because it enables consumers to decide the nullability semantics of a given field.

[2022-04-23 19:12] alexisvisco commented on #162
https://stackoverflow.com/a/42634681/8810797

In protobuf 3 all fields are optionals :)

[2022-04-23 19:22] tatethurston commented on #162
That is not a correct interpretation of `optional` in protobuf -- we're overloading the term here.

The author of the post is correct that it's not an error if the sender fails to send them -- in fact we generally don't send fields that are the default value under protobuf regardless of what the sender sets. That is an optimization we apply at the serialization layer to decrease the size of the me

[2022-04-23 19:55] remicaumette commented on #161
Hello @tatethurston, thanks for your quick answer.
I have tried the fix but it does not work.

[code]

Source :
[code]

[2022-04-23 20:06] alexisvisco commented on #162
This is maybe a misunderstanding because optional was recently added in proto 3.

However setting optional prefix to a field which is a message does not solve the problem. In my server implementation I return the field with a null value and the client get a message with default value, how am I supposed to know if the field is set or not ?

[2022-04-25 17:32] tatethurston commented on #161
Thanks @remicaumette, I introduced a regression (double JSON.parsing) in #163. This is fixed by #164.

[2022-04-25 17:54] tatethurston commented on #162
Optional message deserialization had a bug where the default message value was always being supplied. This has been fixed. Now if the server supplies an optional field with a null value the client will receive `undefined` for the field.

[2022-04-25 21:20] #162 closed

[2022-06-22 11:53] yiplee opened #176 "JSON Object is not generated correctly for nested proto message"
[haberdasher.proto](https://github.com/yiplee/TwirpScriptDemo/blob/main/src/protos/haberdasher.proto)

[code]

[haberdasher.pb.js](https://github.com/yiplee/TwirpScriptDemo/blob/main/src/protos/haberdasher.pb.js#L42)

[code]

```Req.MakeHatJSON``` is missing from the generated file.

[2022-06-22 17:47] tatethurston commented on #176
Hey @yiplee, thanks for reporting this. I've fixed the issue in #178 and published v0.0.59

[2022-07-13 18:36] AnatolyRugalev opened #179 "Type error: `symbol` is not present in `IncomingMessage`"
I'm getting this type error when building my package:

[code]

Declaration of this type looks like this:

[code]

I dropped last part `typeof Symbol.asyncIterator` and it fixed the problem for me.

Thanks

[2022-07-13 23:42] tatethurston commented on #179
Hey @AnatolyRugalev do you have a repo I could take a look at? If not, could you let me know the version of TypeScript you're using, and could you paste your tsconfig.json here?

[2022-07-15 10:21] AnatolyRugalev commented on #179
@tatethurston I have to be straight and tell you that I have no idea what I'm, doing when it comes to the TypeScript. I am essentially working on API itself and I need JS compatible client for our testing framework. I will certainly provide you with everything I can, but please forgive me for my ignorance in TypeScript.

This is the repo that I use for twirp generation:
https://github.com/GetStrea

[2022-07-15 22:40] tatethurston commented on #179
Thanks @AnatolyRugalev. I’ll take a look and see if I can recreate the type error. Off the top of my head, it could be very old @types/node but I’ll let you know what I find.

As a design goal, I would like TwirpScript to “just work” with any starter tsconfig, no Typescript knowledge required. This will help me provide some guidance for minimal supported versions for typescript and node.

[2022-07-20 21:09] tatethurston commented on #179
This has been resolved in [v0.0.60](https://github.com/tatethurston/TwirpScript/releases/tag/v0.0.60). Thanks @AnatolyRugalev!

[2022-07-20 21:09] #179 closed

[2022-07-27 23:29] andrewbeckman opened #185 "Unable to set credentials property of fetch configuration"
I would like to set the [credentials](https://developer.mozilla.org/en-US/docs/Web/API/fetch#credentials) property for the underlying `fetch` requests made by TwirpScript clients.

More generally, I think it might be a nicer design to expose the optional ability to set any of the `fetch` config. But I'm only blocked by the `credentials` right now as I'm implementing cookie based authentication.

[2022-07-27 23:48] andrewbeckman commented on #185
@tatethurston just updating the issue to say that I realized I can workaround this for now by doing the following:

[code]

Not sure what your thoughts are here, but this feels suboptimal to me insofar as I think it'd be great to extend `ClientConfiguration`.

[2022-07-28 02:47] tatethurston commented on #185
Hey @andrewbeckman 👋 using `client.rpcTransport` like you found certainly works, but I agree that extending `ClientConfiguration` is more ergonomic.

Another option would be with middleware:

[code]

But this is less clear than the `rpcTransport` override, and requiring users to make an unsafe cast isn't acceptable IMO.

Ideally I think we'd want something like:

[code]
or
[code]

[2022-07-28 03:05] tatethurston commented on #185
The next piece is thinking about typing this -- we should be able to lean on TypeScript to prevent silly errors like:

[code]
I'm hesitant to force coupling to the full fetch interface, because that makes `rpcTransport` less flexible, but I could be convinced that flexibility isn't particularly valuable -- I'm not sure many (any?) clients will want to swap over to request response over websockets

[2022-07-28 15:40] andrewbeckman commented on #185
@tatethurston thanks for the detailed writeup! The motivation behind not being wed to fetch makes sense & I appreciate the complexity here. The idea of making `ClientConfiguration` generic seems neat. Given the popularity of cookie based auth, I could also see an argument that it deserves to be a 4th (optional) param under `ClientConfiguration`. In any case, I'm unblocked by the `rpcTransport` ove

[2022-07-29 03:04] tatethurston commented on #185
Thanks @andrewbeckman. I'm going to research this a bit more. I may need to wait until bringing `fetch` into node.js moves a bit further. Right now, I don't want to force nodejs clients to pull in lib.dom.ts (#48). If TypeScript refactor their types (https://github.com/microsoft/TypeScript/issues/43972) or fetch types land in [@types/node](https://www.npmjs.com/package/@types/node) this will be mu

[2022-07-29 14:11] jwlee-asp opened #186 "Sending requests through a proxy"
I have used http libraries with [hpagent](https://github.com/delvedor/hpagent) to send requests to a proxy. Is it possible to send requests made from the client through a proxy? I couldn't find a configuration with the client, but would there be an avenue using the middleware?

[2022-07-29 18:29] tatethurston commented on #186
Hey @jwlee-asp thanks for opening this. I had thought that I had documented `rpcTransport` but it appears I haven't.

I believe [something like this](https://github.com/tatethurston/TwirpScript/issues/185#issuecomment-1197495356) would work, replacing `fetch` with your instance of `hpagent`. LMK if that works, or if you run into any issues.

[2022-08-02 01:42] #186 closed

[2022-08-17 18:33] andrewbeckman opened #191 "fs.readSync intermittent error"
When we run `yarn twirpscript`, we are intermittently getting the following error:

[code]

I unfortunately don't have repeatable steps to reproduce, but here's our `.twirp.json`:

[code]

[2022-08-17 19:43] tatethurston commented on #191
Thanks @andrewbeckman. Did you notice this after updating to a particular version or has this happened intermittently for awhile?

[2022-08-17 19:44] andrewbeckman commented on #191
We have noticed it across versions for a while. We just updated to the latest version and are still seeing it.

[2022-08-17 20:08] tatethurston commented on #191
Thanks. Could you let me know the node version and OS you’re seeing this on?

[2022-08-17 21:58] andrewbeckman commented on #191
So on the team we have mostly Macs running macOS Monterey and node LTS (version 16.x). We have one Linux user running node 18.6.0. We all experience it intermittently, but the Linux user experiences it with greater frequency.

[2022-08-17 22:38] tatethurston commented on #191
Awesome, thanks. I'll look into this.

[2022-08-23 22:20] andrewbeckman opened #192 "Generating TypeScript files from proto files that import other proto files is leading to js imports"
I have a `proto` file with the following import line:

[code]

And in the generated `.pb.ts` file, there's the following line:

[code]

My twirp config is as follows:

[code]

Should the generated import statement be importing from `"../proto/uuid/models.pb.ts"` or even just `"../proto/uuid/models.pb"` given that the generated file being imported is a `ts` file not a `js` file? I am currently runn

[2022-08-23 22:44] tatethurston commented on #192
Hey @andrewbeckman the full extension path is expected — it’s required for ES modules which don’t implicitly append a js extension like commonjs does.

TypeScripts compiler expects js extensions and not ts extensions because the compiler does not manipulate import paths.

What version of TypeScript are you using?

[2022-08-23 22:55] andrewbeckman commented on #192
<img width="1319" alt="Screen Shot 2022-08-23 at 3 54 30 PM" src="https://user-images.githubusercontent.com/30055476/186280037-8d7da36d-7db8-4ef6-a3bf-47a65c9ebeca.png">

TypeScript version: 4.5.4

[2022-08-23 23:22] andrewbeckman commented on #192
Here's my tsconfig in case it helps

[code]

[2022-08-24 00:06] tatethurston commented on #192
Thanks @andrewbeckman, I'll look into this. There is likely a rough edge here, sorry about that. NextJS builds commonjs for the server build and esm for the client, so it sits right in the middle of a difficult transitional period for the JS ecosystem.

In the meantime, you may be able to resolve this by updating your tsconfig `compilerOptions.moduleResolution` to `nodenext`/ `node16`.

[2022-08-24 00:10] andrewbeckman commented on #192
Okay thanks @tatethurston. I had already tried updating the `moduleResolution` to both those values and unfortunately that introduced more issues.

[2022-08-24 00:12] tatethurston commented on #192
Cool, worth a try. Yeah, any project imports that aren't valid ESM would fail under nodenext.

[2022-08-24 00:19] tatethurston commented on #192
@andrewbeckman Could you update to TS 4.7 (4.7.4 is the latest version) and let me know if that resolves the issue for you?

https://devblogs.microsoft.com/typescript/announcing-typescript-4-7/#ecmascript-module-support-in-node-js

[2022-08-24 00:21] andrewbeckman commented on #192
I had already tried this as well. Unfortunately, same issue.

[2022-08-24 00:25] tatethurston commented on #192
Does `tsc` compile successfully in your project? I may need to look at Next's build process. I tested the following TypeScript compiler config:

[code]

[2022-08-24 00:27] andrewbeckman commented on #192
Yes! `tsc` compiles fine when I run `yarn tsc`.

[2022-08-26 17:31] tatethurston commented on #191
I haven't been able to reproduce this yet, but doing some research I found this stackoverflow thread that references the same EAGIN issue: https://stackoverflow.com/questions/30441025/read-all-text-from-stdin-to-a-string

I'm going to publish an update replacing `process.stdin.fd` with `0`. The two should be equivalent, but at least on Node v11 some users reported this same problem.

[2022-08-26 18:16] #191 closed

[2022-08-26 19:21] tatethurston commented on #192
Alright I chased this down and the issue is a difference between the TypeScript compiler and webpack: https://github.com/TypeStrong/ts-loader/issues/1383

Webpack introduced `extensionAlias` to solve this problem: https://webpack.js.org/configuration/resolve/#resolveextensionalias

I'm curious to see if the TypeScript team changes their stance on extensions in a future release.

[2022-08-26 20:25] #192 closed

[2022-08-26 21:12] tatethurston commented on #192
LMK if this doesn't resolve the issue for you @andrewbeckman, and 🤞 that this step can be eradicated once TS 4.9 lands.

[2022-08-26 21:19] tatethurston commented on #191
This is published in v0.0.62. LMK if this resolves the issue @andrewbeckman, and if not, I'll do some deeper digging into node.

[2022-08-28 20:15] andrewbeckman commented on #192
Thanks for hunting this down. I saw this and looked into modifying the webpack config and Next seems to allow it though it discourages it.

[2022-08-28 21:24] tatethurston commented on #192
Yep: https://nextjs.org/docs/api-reference/next.config.js/custom-webpack-config. I wouldn’t be concerned about risk here.

[2022-09-07 11:07] Blancduman opened #199 "root in config"
Hello.

Specifing a path with nesting in `root` -> `twirp.json` cause error.

```Error: Cannot find module 'path\to\protos\node_modules\twirpscript\dist\compiler.js'```

It's trying to find `compiler.js` in nested path, not in project's `nodes_modules` .

[2022-09-07 11:34] Blancduman commented on #199
[code]

[2022-09-07 12:48] Blancduman commented on #199
And it's windows case

[2022-09-09 03:57] tatethurston commented on #199
Thanks for reporting @Blancduman I’ll take a look

[2022-09-21 19:15] pwalker opened #200 "Compile fails when using message called "Entry""
I'm encountering a problem when I have a message named "Entry", the compilation fails.  Here's an example repo https://github.com/pwalker/twirpscript_repro and I'll paste the proto file in here:

[code]

However, if I change `Entry` to `Bar` it works:

[code]

Also, here's something that _could_ be a related stacktrace?  This includes some other fields and things from the actual message I'm trying

[2022-09-21 22:55] tatethurston commented on #200
Thanks for reporting this @pwalker. This must have presented as a very odd bug 😅. TwirpScript is working around this issue in google protobuf: https://github.com/protocolbuffers/protobuf/issues/9369. Sorry for the bug, I'll have a fix up shortly.

[2022-09-22 01:01] tatethurston commented on #199
@Blancduman Can you let me know if you still encounter this issue on v0.0.63 https://github.com/tatethurston/TwirpScript/releases/tag/v0.0.63

[2022-09-22 01:02] tatethurston commented on #200
@pwalker This is fixed in v0.0.63: https://github.com/tatethurston/TwirpScript/releases/tag/v0.0.63

[2022-09-22 03:16] pwalker commented on #200
Awesome, this works!  Thanks for the bugfix, I appreciate it.

[2022-09-22 03:16] #200 closed

[2022-09-23 10:08] zolex opened #202 "TypeScript imports broken since use of ProtoScript"
since version 0.0.61 when ProtoScript is used by twirpscript to generate typescript code, the imports of the messages from the services are broken:

it outputs .pb.ts files but the import statements are .pb.js

generated files:
<img width="202" alt="image" src="https://user-images.githubusercontent.com/398739/191938218-81387800-f359-42dc-a91f-1c00c8f66de2.png">

import statements before 0.0.61

<i

[2022-09-23 10:17] zolex opened #203 "Please follow Semantic Versioning"
It would be great if you could follow semantic versioning, especially when introducing breaking changes like in 0.0.63 where it now requires a different config file...

[2022-09-23 16:45] tatethurston commented on #203
Hey @zolex, I’m planning to adopt semantic versioning once the API stabilizes. I apologize for the churn, the 0.0. versioning is intended to communicate that the API is still evolving.

[2022-09-23 17:57] tatethurston commented on #202
@zolex Thanks for reporting this. This change is intentional, and was made specifically to support the TypeScript compiler. The full extension path is expected — it’s required for ES modules which don’t implicitly assume a js extension like commonjs does. The TypeScripts compiler expects js extensions and not ts extensions because the compiler does not manipulate import paths: https://www.typescri

[2022-09-23 18:01] tatethurston commented on #202
This could look like the following:
- Continue to use full import paths for JS. This delivers correct ESM for browser and node runtimes.
- Drop the `.js` extension for TS. Browser builds like webpack accept ESM without the full extension, so this would only prevent users from running TwirpScript server side as ESM (type: "module" in package.json). I suspect this is an acceptable tradeoff until the

[2022-09-23 20:55] zolex commented on #202
That's interesting, thanks for the detailed answer.

[2022-09-23 20:55] #202 closed

[2022-09-23 21:07] tatethurston commented on #202
@zolex I've published https://github.com/tatethurston/TwirpScript/releases/tag/v0.0.64 with the changes I mentioned above. This should "just work" for you -- let me know if you encounter any issues.

[2022-09-23 21:08] tatethurston commented on #192
@andrewbeckman I've released https://github.com/tatethurston/TwirpScript/releases/tag/v0.0.64 which removes the need for the `extensionAlias` workaround we discussed earlier.

[2022-09-23 21:10] andrewbeckman commented on #192
@tatethurston Thanks for the heads up! We ended up making the switch to https://github.com/timostamm/protobuf-ts as we didn't want to go down the path of customizing our webpack config. Next time I have some time on my hands, will be sure to check out how things have progressed and decide if we should switch back!

[2022-09-23 21:44] zolex commented on #202
Thanks man, I'll ask our responsible dev on monday to see if it solves the issues.

[2022-09-24 21:09] tatethurston commented on #192
Related: TwirpScript now includes a NextJS example: https://github.com/tatethurston/twirpscript/tree/main/examples/nextjs

[2022-10-05 18:16] #199 closed

[2022-10-05 18:16] #203 closed

[2022-11-07 23:10] pwalker opened #207 "Name collision when using proto packages"
I've made an example repo demonstrating the problem: https://github.com/pwalker/twirpscript_package_name_repro

The gist is this, if I import another proto file and there is a message name collision the generated code produces a typescript error:

[code]

And the generated typescript fragment:

[code]

These types and imports are also present when I just emit typescript declarations as well.  I do

[2022-11-08 01:17] tatethurston commented on #207
Thanks @pwalker. Yes, switching over to glob (*) imports will resolve this and tree shaking will continue to work.

[2022-11-16 21:26] noahseger opened #208 "Error: EAGAIN during `readSync`"
Similar to #7, we've seen `stdin` fail as the number of protobufs we're processing has increased:

[code]

Running under Node 16 in GitHub Actions:

[code]

All I've found so far is https://stackoverflow.com/questions/40362369/stdin-read-fails-on-some-input, and I don't know if you have the flexibility to read synchronously from `/dev/stdin` for portability.

[2022-11-16 23:38] tatethurston commented on #208
Hey @noahseger, thanks for reporting. What version of twirpscript are you running?

[2022-11-17 00:20] tatethurston commented on #208
I _think_ I may have found a lead here: https://github.com/nodejs/help/issues/2663. I'll put out a release switching to `process.stdin` usage. Once I release that, if you could let me know if the issue stops or if you continue to see it, I'd really appreciate it.

[2022-11-17 01:58] noahseger commented on #208
Hi @tatethurston , thanks for checking it out! We're running `0.0.61`, and can definitely let you know whether or not it stops after that lands. This framework is the best 🤘

[2022-11-17 04:50] tatethurston commented on #208
Awesome thanks Noah, I’ll let you know when I publish

[2022-11-19 00:01] tatethurston commented on #207
This is fixed in 0.0.66. LMK if you run into any issues!

[2022-11-19 00:01] tatethurston commented on #208
This is fixed in 0.0.66. LMK if you run into any issues!

[2022-11-19 01:09] noahseger commented on #208
Thanks @tatethurston! This passed our CI so we'll land it and watch for the error over the next week 🎉

[2022-11-19 01:22] tatethurston commented on #208
Thanks @noahseger!